<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Nova Senha</title>
    </head>
    <body>
        <h2>Defina sua nova senha</h2>
        {% if validlink %}
            <form method='post'>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Salvar</button>
            </form>
        {% else %}
            <p>Link inválido ou expirado.</p>
            <a href="{% url 'password_reset' %}">Solicitar um novo link</a>
        {% endif %}
    </body>
</html>
