<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content="width=device-width, initial-scale=1.0">
        <title>Recuperar Senha</title>
    </head>
    <body>
        <h1>Recuperar Senha</h1>
        <p>Digite seu email para receber as instruções</p>
        <form method='post' class='credentials'>
            {% csrf_token %}

            <label for="email-field" class="hidden-tag">Email</label>
            <input type="email" id="email-field" placeholder="Seu Email" name="email" required>
            <br>

            <button type='submit'>Enviar Instruções</button>
            <br>

            <p>Lembrou a Senha? <a href="{% url 'login' %}" class='register-link'>Voltar ao Login</a></p>
        </form>
    </body>
</html>
