{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Hub - Crie sua conta</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/regular/style.css">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/auth.css' %}">
</head>

<body>
    <div class="login-container">
        <div class="painel-visual"></div>
        <div class="painel-formulario">
            <div class="card-formulario">
                <div class="cabecalho-card">
                    <h1>Crie sua conta</h1>
                    <p>Acesse diversas funcionalidades!</p>
                </div>
                <form action="{% url 'cadastro' %}" method="post" class="credenciais">
                    {% csrf_token %}
                    <div class="campo-forms">
                        <i class="ph ph-user icone-campo"></i>
                        <label for="campo-nome" class="rotulo-oculto">Nome completo</label>
                        <input type="text" id="campo-nome" placeholder="Nome completo" name="username" required>
                    </div>
                    <div class="campo-forms">
                        <i class="ph ph-envelope-simple icone-campo"></i>
                        <label for="campo-email" class="rotulo-oculto">Endereço de e-mail</label>
                        <input type="email" id="campo-email" placeholder="Endereço de e-mail" name="email" required>
                    </div>
                    <div class="campo-forms">
                        <i class="ph ph-lock-key icone-campo"></i>
                        <label for="campo-senha" class="rotulo-oculto">Senha</label>
                        <input type="password" id="campo-senha" placeholder="Senha" name="senha" required>
                    </div>
                    <div class="campo-forms">
                        <i class="ph ph-lock-key icone-campo"></i>
                        <label for="campo-confirma-senha" class="rotulo-oculto">Confirme sua senha</label>
                        <input type="password" id="campo-confirma-senha" placeholder="Confirme sua senha" name="confirma_senha" required>
                    </div>
                    <div class="campo-termos">
                        <input type="checkbox" id="termos" name="termos_uso" class="checkbox-termos-e-condicoes" required>
                        <label for="termos">Li e concordo com os <a href="javascript:void(0)" id="abrir-termos" class="link-termos">Termos de Uso e Política de Privacidade.</a></label>
                    </div>
                    <div class="campo-comunicacoes">
                        <input type="checkbox" id="comunicacoes" name="comunicacoes" class="checkbox-termos-e-condicoes">
                        <label for="comunicacoes">Aceito receber e-mails com novidades, pesquisas pedagógicas e atualizações da plataforma.</label>
                    </div>
                    <button type="submit" class="botao-entrar">Cadastrar</button>
                    <div class="rodape-card">
                        <p>Já tem uma conta? <a href="{% url 'login' %}" class="link-cadastro">Entre agora</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Puxa o arquivo com os termos modularizado -->
    {% include 'includes/modal_termos.html' %}

    <script>
        const modal = document.getElementById('modal-termos');
        const btnAbrir = document.getElementById('abrir-termos');
        const btnFechar = document.getElementById('fechar-termos');
        const btnAceitarModal = document.getElementById('aceitar-termos-modal');

        btnAbrir.addEventListener('click', () => {
            modal.showModal();
        });

        btnFechar.addEventListener('click', () => {
            modal.close();
        });

        btnAceitarModal.addEventListener('click', () => {
            modal.close();
        });

        modal.addEventListener('click', (event) => {
            if (event.target === modal) {
                modal.close();
            }
        });
    </script>
</body>
</html>