{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Hub - Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/regular/style.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    <header class="topbar"></header>

    <div class="layout-body">

        <aside class="sidebar">
            <div class="sidebar-conteudo">
            </div>

            <div class="sidebar-rodape">
                <a href="{% url 'login' %}" class="btn-logout">
                    <i class="ph ph-sign-out icone-logout"></i>
                    <span>Fazer Log Out</span>
                </a>
            </div>
        </aside>

        <main class="main-content">
            <div class="card-boas-vindas">
                <h1>Área Autenticada</h1>
                <p class="saudacao">Olá, <strong>{{ user.username }}</strong></p>
                <p class="status-autenticado">Você foi autenticado.</p>
            </div>
        </main>
    </div>
</body>
</html>