{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Hub - Entrar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&amp;family=Poppins:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/regular/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/thin/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/light/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/bold/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/fill/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/duotone/style.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="login-container">
        <div class="painel-visual">
            <!--Espaço reservado para colocar alguma figura do lado esquerdo-->
        </div>

        <div class="painel-formulario">
            <div class="card-formulario">
                <div class="cabecalho-card">
                    <h1>Olá, professor(a)!</h1>
                    <p>Entrar no Teacher Hub</p>
                </div>

                <form action="{% url 'login' %}" method="post" class="credenciais">
                    {% csrf_token %}
                    <div class="campo-forms">
                        <i class="ph ph-envelope-simple icone-campo"></i>
                        <label for="campo-email" class="rotulo-oculto">Endereço de e-mail</label>
                        <input type="email" id="campo-email" placeholder="Endereço de e-mail" name="email" required>
                    </div>

                    <div class="campo-forms">
                        <i class="ph ph-lock-key icone-campo"></i>
                        <label for="campo-senha" class="rotulo-oculto">Senha</label>
                        <input type="password" id="campo-senha" placeholder="Senha" name="senha" required>
                    </div>

                    <div class="botao-esqueci-senha">
                        <a href="#" class="link-esqueci-a-senha">Esqueci minha senha</a>
                    </div>
                    
                    <button type="submit" class="botao-entrar">Entrar</button>
                    
                    <div class="rodape-card">
                        <p>Não tem uma conta? <a href="{% url 'cadastro' %}" class="link-cadastro">Inscrever-se</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>